@charset "gb2312";
/* CSS Document */
*{ padding:0px; margin:0px;}
body{font-family:"Microsoft YaHei",微软雅黑; font-size:14px; text-decoration:none;}
a{ font-family:"Microsoft YaHei",微软雅黑; font-size:14px; text-decoration:none;}

