*{padding:0;margin:0}

img{border:0}

/* Ωπµ„Õº */
.focus{width:426px;border:1px solid #EEE;position:relative;margin-top:6px;float:left}
.f426x240{width:426px;overflow:hidden}
.f426x240 img{width:426px;}

.rslides{width:100%;position:relative;list-style:none;padding:0}
.rslides_nav{ background:url(../imgs/next_pre.png); width:75px; height:75px; display:block; position:absolute; left:-90px; top:50%; margin-top:-28px; text-indent:-999px;}
.rslides_nav:active{opacity:1.0}
.rslides_nav.next{left:auto;background-position:-31px -560px;right:0}
.rslides_tabs{margin:12px auto;clear:both;text-align:center; display:none}
.rslides_tabs li{display:inline;float:none;_float:left;*float:left;margin-right:5px}
.rslides_tabs a{text-indent:-9999px;overflow:hidden;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:rgba(0,0,0, .2);background:#DDD;display:inline-block;_display:block;*display:block;width:9px;height:9px}
.rslides_tabs .rslides_here a{background:rgba(0,0,0, .6);background:#390}

